/* 
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
- Primary: #10b981
- Tints:
#e7f8f2


- Shades:

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  color: #666669;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  font-size: 20px;
  color: #a6a3b9;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.grid-container > nav {
  grid-row: 1 / 3;
  background-color: #211951;
  color: #fff;
  padding: 16px;
}

.grid-container > header {
  grid-column: 2;
  background-color: #836fff;
}

/* SIDEBAR */
.sidebar {
  font-size: 14px;
  font-weight: 500;
}

.user-sb {
  list-style: none;
  margin-top: 36px;
}

.usersidebar-el {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

/* MAIN SCREEN */
.main-screen {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 14px;
  background-color: #f0f3ff;
  gap: 12px;
}

/* PROJECTS */
.projects {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(2, minmax(205px, 1fr));
  gap: 16px;
}

.projects-title {
  grid-column: 1;
  margin-left: 12px;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  align-self: flex-end;
}

.card {
  font-size: 12px;
  background-color: #fff;
  padding: 12px 12px 24px;
  box-shadow: 3px 3px 5px 0.2px #1313131a;
  border-radius: 6px;
  position: relative;
}

.project h2 {
  margin-bottom: 4px;
  font-size: 12px;
  color: #000;
}

.project p {
  height: 85px;
}

.project::before {
  background-color: #15f5ba;
  content: "";
  height: 100%;
  width: 5px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.icons {
  margin-top: 22px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

/* Anuncios */
.announcements-trending {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(1, minmax(205px, 1fr));
  grid-template-rows: 1fr 1fr;
}

.announcements {
  grid-row: 1;
  display: contents;
}

.announcement {
  padding: 12px 32px;
}

.announcement-title {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}

.announcement h2 {
  margin-bottom: 4px;
  font-size: 12px;
  color: #000;
}

.announcement p {
  margin-bottom: 12px;
}

hr {
  border: 1.2px solid #a6a3b9;
  margin-bottom: 12px;
}

/* TRENDING */

.trending {
  align-self: flex-end;
}

.profile-picture {
  width: 30px;
}

.trending-title {
  margin-bottom: 16px;
}

.trending-el {
  margin: 16px 0;
  display: flex;
  gap: 16px;
}
